form
{
    width: 600px;
    height: auto;
    padding: 1em;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section
{
    padding-top: 40px;
    padding-bottom: 20px;
}

.gradient-title
{
    background: linear-gradient(to right, #ffc900, #FF8970);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-thumbnail {
    width: 250px;
    height: auto; 
}